body{
    background: linear-gradient(to right,#dbc858,#e44124);
}
.btn{
    width: 110px;
    height: 80px;
}
.text{
    width:446px;
    height:60px;
}
.menu{
    background: white;
    align-items: center;
    justify-content: space-between;
}
.menu .link{
    color:rgb(59, 172, 224);
    
}
.menu{
    display:flex;
    gap:10px;
}
.img{
    width: 250px;
}